pool:
  name: Default
  vmImage: 'ubuntu-18.04'
  
steps:
- script: |
    cat .\scripts\test_trusaic_login.js | docker run --rm -i --cap-add=SYS_ADMIN grafana/k6:master-with-browser run -
  displayName: Run k6 from Docker locally
# docker run -i -v `pwd`:/src grafana/k6 run /src/scripts/test_times.js
# docker run -i -v "%cd%":/src loadimpact/k6 run /src/scripts/test_times.js
#- script: |
#    docker run -i -v `pwd`:/src -e K6_CLOUD_TOKEN=$(k6cloud.token) grafana/k6 cloud /src/loadtests/cloud.js
#  displayName: Run k6 from Docker offloading to cloud