pool:
  vmImage: 'ubuntu-latest'

steps:
- task: Docker@2
  displayName: Login to registry
  inputs: 
    command: login
    containerRegistry: $(registry) # variable with Service Connection name
- task: Bash@3
  displayName: Pulling docker image
  inputs:
    targetType: inline
    # docker_registry_name - name of the private repository
    script: |
      docker pull grafana/k6:master-with-browser
- script: |
    k6 login cloud --token $(k6_cloud_token)
    k6 cloud --quiet scripts/trusaic_cloud_test.js
  displayName: Run k6 cloud load test within Azure Pipelines      

