pool:
  vmImage: 'ubuntu-latest'

steps:
- task: Docker@2
  displayName: Login to registry
  inputs: 
    command: login
    containerRegistry: $(registry) # variable with Service Connection name
- task: Bash@3
  displayName: Pulling docker image
  inputs:
    targetType: inline
    # docker_registry_name - name of the private repository
    script: |
      docker pull grafana/k6:master-with-browser
- script: |
    cat .\scripts\trusaic_cloud_test.js | docker run --rm -i -v $(pwd)/scripts:/scripts grafana/k6:master-with-browser run -
  displayName: Run k6 from Docker in azure pipeline
