# azure-pipelines.yml

pool:
  #name: Default
  vmImage: 'ubuntu-latest'

steps:
  - task: - task: k6-load-test@0
  inputs:
    cloud: true
    filename: './scripts/trusaic_cloud_test.js'
    inputs:
      cloud: true
      filename: './scripts/trusaic_cloud_test.js'