pool:
  vmImage: 'ubuntu-latest'

steps:
- task: Docker@2
  displayName: Login to registry
  inputs: 
    command: login
    containerRegistry: $(registry) # variable with Service Connection name
- task: Bash@3
  displayName: Pulling docker image
  inputs:
    targetType: inline
    # docker_registry_name - name of the private repository
    script: |
      docker pull grafana/k6:master-with-browser
      docker tag grafana/k6:master-with-browser browser/K6

- script: |
    docker run --rm -i -v /home/vsts/work/1/s/scripts:/scripts \
      -e K6_CLOUD_PROJECT_ID=$(K6_CLOUD_PROJECT_ID) \
      -e K6_CLOUD_TOKEN=$(K6_CLOUD_TOKEN) \
      -e K6_OUT=xk6-prometheus-rw \
      -e K6_PROMETHEUS_RW_INSECURE_SKIP_TLS_VERIFY=true \
      -e K6_PROMETHEUS_RW_PUSH_INTERVAL=5s \
      -e K6_PROMETHEUS_RW_SERVER_URL=https://prometheus-prod-13-prod-us-east-0.grafana.net/api/prom/push \
      -e K6_PROMETHEUS_RW_TREND_AS_NATIVE_HISTOGRAM=true \
      -e K6_PROMETHEUS_RW_USERNAME=1212056 \
      -e K6_PROMETHEUS_RW_PASSWORD=$(K6_PROMETHEUS_RW_PASSWORD) \
      browser/K6 run -o cloud -o experimental-prometheus-rw - <scripts/trusaic_cloud_test.js
  displayName: Run k6 from Docker in azure pipeline
