# azure-pipelines.yml

pool:
  #name: Default
  vmImage: 'ubuntu-latest'

steps:
  - task: k6-load-test@0
    inputs:
      cloud: true      
      filename:  -o experimental-prometheus-rw ./scripts/test_times.js